# Importing

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Import csv
df_prods= pd.read_csv(r'C:\Users\william\5-2023 Instacart Basket Analysis\Data\Prepared Data\products_checked.csv', index_col = False)

In [4]:
#3 Import pickle
df_orders_products_combined= pd.read_pickle(r'C:\Users\william\5-2023 Instacart Basket Analysis\Data\Prepared Data\orders_products_combined.pkl')

In [5]:
#4 Check the shape
df_orders_products_combined.shape

(32434489, 11)

In [6]:
#5 Merging dataframes
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,order_number,order_dow,time_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [7]:
df_prods.shape

(49693, 6)

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [10]:
df_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [11]:
df_merged.shape

(32434212, 16)

In [13]:
#6 Confirmation
df_merged.value_counts()

Unnamed: 0_x  order_id  user_id  order_number  order_dow  time_ordered  days_since_prior_order  product_id  add_to_cart_order  reordered  Unnamed: 0_y  product_name                                           aisle_id  department_id  prices  _merge
1             2398795   1        2             3          7             15.0                    196         1                  1          195           Soda                                                   77        7              9.0     both      1
2281410       1170584   137403   2             0          14            29.0                    44632       4                  0          44636         Sparkling Water Grapefruit                             115       7              4.2     both      1
                                                                                                27521       6                  0          27523         Organic Lacinato (Dinosaur) Kale                       83        4              8.9     both      1
                                                                                                17461       5                  0          17461         Air Chilled Organic Boneless Skinless Chicken Breasts  35        12             9.1     both      1
                                                                                                17429       1                  1          17429         Jalapeno Hummus                                        67        20             5.9     both      1
                                                                                                                                                                                                                                                         ..
1139899       3282399   68499    5             6          18            30.0                    20113       11                 1          20114         Organic Gluten Free Buckwheat Wildberry Waffles        52        1              7.0     both      1
                                                                                                17794       3                  0          17794         Carrots                                                83        4              10.7    both      1
                                                                                                8309        8                  0          8309          Nonfat Icelandic Style Strawberry Yogurt               120       16             6.7     both      1
                                                                                                5876        2                  0          5876          Organic Lemon                                          24        4              3.6     both      1
3421081       2977660   206209   13            1          12            7.0                     39216       4                  0          39220         Original Multigrain Spoonfuls Cereal                   121       14             3.3     both      1
Length: 30329840, dtype: int64

In [14]:
df_merged['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [17]:
#7 Export
path=r'C:\Users\william\5-2023 Instacart Basket Analysis'

In [18]:
df_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged.pkl'))