# Combining Data Exercise

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Import new data set

df_ords= pd.read_csv(r'C:\Users\willi\5-2023 Instacart Basket Analysis\Data\Prepared Data\orders_wrangled.csv', index_col = False)

In [5]:
df_ords_prior= pd.read_csv(r'C:\Users\willi\5-2023 Instacart Basket Analysis\Data\Original Data\order_products_prior\order_products__prior.csv', index_col = False)

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(3421083, 8)

In [10]:
df_ords = df_ords.drop(columns = ['eval_set'])

In [11]:
df_ords.shape

(3421083, 7)

# Merging Dataframes

In [12]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,order_dow,time_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [15]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# Exporting Data in Pickle Format

In [17]:
path=r'C:\Users\willi\5-2023 Instacart Basket Analysis'

In [18]:
df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))